<!DOCTYPE html>
<html>
    <head>
        <title>TripGuide</title>
        <!-- <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" 
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" 
        crossorigin="anonymous">
        
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="/stylesheets/stars.css">
    </head>
    <!--  -->
<body>
    <nav class="navbar navbar-default" style="background-color: #212529;">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">TripGuide</a>
                <a class="navbar-brand" href="/spots">Home</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!currentUser){ %>
                    <li><a href="/login"  >Login</a></li>
                    <li><a href="/register">Sign up</a></li>
                    <% } else { %>
                    <li><a class="nav-link" href="/spots/new">Create New Post</a></li>
                    <li><a href="#">Signed In as <%= currentUser.username%></a></li>
                    <li><a href="/logout">Log out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <% if(error && error.length > 0){ %>
        <div class="alert alert-danger" role="alert">  
            <%= error %>
        </div>
        <% } %>
        <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">  
            <%= success %>
        </div>
        <% } %>
    </div>

